<%- include('./partials/header'); -%>

<h1>Home</h1>
<p> <%= homeContent %> </p>

<% logPost.forEach(post => {%>
    <h1><%=post.pTitle%></h1>
    <p><%=post.pBody%>
    <a href="./posts/<%= post.pTitle %>">Read More</a></li>
    <%}) %></p>

<%- include('./partials/footer'); -%>
